div{
  width: 200px;
  height:200px;
  background:wheat;
  font-size:30px;
  text-align:center;
  line-height:200px;
  /*  code vào phần bên dưới  */
  border: blue solid 3px;
  border-radius: 27px;
}
