* {
	box-sizing: border-box;
	margin: 0;
  padding: 0;
}
.wapper-2{
width: 494px;
position: relative;
margin: 50px;
}
.wapper-2 img{
  width: 100%;
}

.wapper-2 a{
  text-decoration: none;
  color: #333;
  font-size: 24px;
  margin: 10px 0px;
  display: inline-block;

}

.wapper-2 time{
  font-size: 13px;
  color: #aaa;
  font-weight: bold;
  margin-bottom: 6px;
}

.wrapper-2 icon{
  font-size: 50px;
  color: white;
  position: absolute;
  top: 0;
  left:0;
}